<!doctype html>
<html>
	<head>
		<title>Express-Demo</title>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/css/login_register.css" />
		<script src="https://use.fontawesome.com/3717ffcf16.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
