<!doctype html>
<html>
	<head>
		<title>Express-Demo</title>
		<link rel="stylesheet" type="text/css" href="/css/normalize.css" />
		<link rel="stylesheet" type="text/css" href="/css/login.css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
